## Creating Dask Dataframes

### `read_csv` function

In [1]:
import dask.dataframe as df

###  Dask Dataframe API is similar to Pandas API

In [2]:
user_data_single = df.read_csv('multiple_csvs/gdp_part_0.csv')

In [3]:
user_data_single.npartitions

1

In [4]:
len(user_data_single)

58

In [5]:
user_data_single.head()

   Unnamed: 0 country           gdp  year
0           0   India  2.650725e+12  2017
1           1   India  2.290432e+12  2016
2           2   India  2.103588e+12  2015
3           3   India  2.039127e+12  2014
4           4   India  1.856722e+12  2013

###  You can specify a glob pattern to load multiple files

In [6]:
user_data = df.read_csv('multiple_csvs/gdp_part_*.csv')

In [7]:
len(user_data)

570

### Or even pass a list of files

In [8]:
import os

file_list = ['gdp_part_' + str(part) + '.csv'
             for part in range(0, 10)]
complete_path = [os.path.join('multiple_csvs', f_name) 
                for f_name in file_list]

print("File list is {}".format(complete_path))

user_df = df.read_csv(complete_path)

File list is ['multiple_csvs/gdp_part_0.csv', 'multiple_csvs/gdp_part_1.csv', 'multiple_csvs/gdp_part_2.csv', 'multiple_csvs/gdp_part_3.csv', 'multiple_csvs/gdp_part_4.csv', 'multiple_csvs/gdp_part_5.csv', 'multiple_csvs/gdp_part_6.csv', 'multiple_csvs/gdp_part_7.csv', 'multiple_csvs/gdp_part_8.csv', 'multiple_csvs/gdp_part_9.csv']

In [9]:
user_df.head()

   Unnamed: 0 country           gdp  year
0           0   India  2.650725e+12  2017
1           1   India  2.290432e+12  2016
2           2   India  2.103588e+12  2015
3           3   India  2.039127e+12  2014
4           4   India  1.856722e+12  2013

In [10]:
n = 4
user_df = df.read_csv(complete_path, usecols=[i for i in range(1, n)])

In [11]:
user_df.head()

  country           gdp  year
0   India  2.650725e+12  2017
1   India  2.290432e+12  2016
2   India  2.103588e+12  2015
3   India  2.039127e+12  2014
4   India  1.856722e+12  2013